﻿
{% extends "base.html" %}

{% block content %}
<div class="col-12">
    <div class="container">
        <div class="row">
            <div class="input-group my-4">
                <select >
                    <option value="" disabled selected>{% if not search %}Select{% else %}{{select}}{% endif %}</option>
                    <option value="all_properties">All properties</option>
                    <option value="for_sale">For sale</option>
                    <option value="for_rent">For rent</option>
                </select>
            </div>
        </div>
    </div>
</div>
            {% endblock %}
